*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif ;
}
body{
    background-image: url('converter.jpg');
    display: flex;
   padding: 11rem 17rem;
    min-height: 100vh;
    background-size: cover;
}
.box{
    position: relative;
    width: 450px;
    height: 450px;
    border-radius: 30px;
    background:rgba(76, 156, 231, 0.769);
    padding: 30px 50px;
    box-shadow:25px 25px 75px rgba(0, 0,0, 0.25),
    10px 10px 70px rgba(0, 0,0, 0.25),
    inset 5px 5px 10px rgba(0, 0,0, 0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0, 0, 0 , 0.75) ;
}
h2{
    width: 100%;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
    margin-bottom: 10px;
}
input[type="number"]{
    padding: 20px;
    width: 100%;
    outline: none;
    margin-bottom: 30px;
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    background:transparent;
    text-align: center;
    font-weight:900;
    color:black;
}
button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(83, 173, 228, 0.635);
    cursor: pointer;     
}